<!DOCTYPE html>
<html>
<head>
    <title>Parking Checkout</title>
    <link rel="stylesheet" href="checkout.css">
    <style>

    </style>
</head>
<body>
<h1>Checkout Page</h1>
<div class="tab_container">
    <input id="tab4" type="radio" name="tabs" checked>


    <section id="content1" class="tab-content">
        <h3>Cart Items</h3>
        <p></p>
    </section>

    <section id="content2" class="tab-content">
        <h3>Customer Information</h3>
        <p></p>
    </section>

    <section id="content3" class="tab-content">
        <h3>Shipping</h3>
        <p></p>
    </section>

    <section id="content4" class="tab-content">
        <h4 class="payment-title">Choose your payment method</h4>
        <form action="" method="post">
            <div class="pymt-radio">


                <div class="row-payment-method payment-row">
                    <div class="select-icon">
                        <input type="radio" id="radio1" name="radios" value="pp" checked>
                        <label for="radio1"></label>
                    </div>
                    <div class="select-txt">
                        <p class="pymt-type-name">M-pesa</p>
                        <p class="pymt-type-desc">Safe payment online.No Credit card needed. All you need is Mpesa.</p>
                    </div>


                </div>

            </div>
            <div class="pymt-radio">

            </div>
            <div class="form-cc">
                <div class="row-cc">
                    <div class="cc-field">
                        <div class="cc-title">Mpesa Number
                        </div>
                        <input type="text" class="input cc-txt text-validated" value="" />
                    </div>
                </div>

                <div class="button-master-container">
                    <div class="button-container"><a href="#"></a>
                    </div>
                    <div class="button-container button-finish"><a href="#">Finish Order</a>
                    </div>
                </div>
        </form>
    </section>
</div>
</body>
</html>
